name: Convergence

on:
  # disable until we actually get these passing
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - "src/**"
  # pull_request:
  #   branches:
  #     - main
  #   paths:
  #     - "src**"
  #     - ".github/workflows/ci.yml"
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          - 16
        os:
          - ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Test
        run: yarn test:convergence
